<body>
    <div class="container">
        <header class="blog-header py-3">

        </header>
        <div class="jumbotron p-3 p-md-3 text-dark text-auto ">
            <div class="col-lg-9 px-6">
                <h1 class="display-12 font-italic">
                    <img src="/assets/img/ea-sports-fc-merch.jpg" alt="200" height="500"> 
                         EA SportsFC 24 terá mudanças crúciais no modo Ultimate Team!!!</h1>
                <p class="lead my-1">Ea Sports anunciou que game de futebol mais jogado no planeta, que será lançado
                    oficialmente no dia 29 de Setembro de 2023 terá adição de
                    jogadoras do sexo feminino com jogadores do sexo masculindo no modo mais jogadado do game, e ai será
                    que vai dar certo?</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue lendo...</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">GTA 6</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Game deverá ter lançamento até março de 2025</a>
                        </h3>
                        <div class="mb-1 text-muted">25 de Agosto</div>
                        <p class="card-text mb-auto">Ainda sem muitas notícias da Rockstar Games, franquia de jogos mais
                            famosa da desenvolvedora promete ser um sucesso.</p>
                        <a href="#">Continue lendo</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]" style="width: 200px; height: 250px;"
                        src="/assets/img/gta 6.jpg"
                        data-holder-rendered="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Microsoft</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Microsoft vence processo e pode concluir compra da Activision
                                Blizzard</a>
                        </h3>
                        <div class="mb-1 text-muted">25 de Agosto</div>
                        <p class="card-text mb-auto">Fabricante do Xbox comprou publicadora de 'Call of Duty' por mais
                            de US$ 70 bilhões em janeiro, mas Comissão Federal de Comércio dos EUA moveu ação de
                            bloqueio do acordo.</p>
                        <a href="#">Continue lendo</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]"
                        src="/assets/img/microsoft.webp"
                        data-holder-rendered="true" style="width: 200px; height: 250px;">
                </div>
            </div>
        </div>
    </div>





    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>


    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none"
        style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
        <defs>
            <style type="text/css"></style>
        </defs><text x="0" y="13"
            style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text>
    </svg>
</body>