<div class="bg-image" style="
    background-image: url('/assets/img/fundo\ mario.jpg');
    height: 130vh;
  " class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-lg-11">
    <h1 class="display-2 fw-bold lh-1 mb-3">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Projeto em Angular </font>
      </font>
    </h1>
    <p class="lead">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Aluno Welerson de Assis da Silva, cursanddo o 6° periódo de Sistema de
          Informação na instituição de ensino superior Faculdade Metodista Granbery (FMG), com o objetivo de manter a
          continuação e desenvolvimento da aplicação baseada em uma loja de jogos fictícia.</font>
      </font>
    </p>
    <div class="col-md-6 col-sm-6 col-lg-10">
      <img src="/assets/img/Mario.png" class="d-block mx-lg-auto img-fluid" alt="Temas Bootstrap" width="500"
        height="300" loading="lazy">
    </div>

  </div>

  >
</div>