
<header>

</header>
<div class="bg-image" style="
    background-image: url('/assets/img/fundo\ mario.jpg');
    height: 100%;
  " class="flex-lg-row-reverse align-items-center g-4 py-4">

  <div class="col-auto text-center">
    <h1 class="display-5 fw-bold lh-11 mb-11">
      <font class="linha" style="vertical-align: inherit;">
        <font style="vertical-align: baseline;">Projeto em Angular </font>
      </font>
    </h1>
    <p class="fw-bold text-center">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Aluno Welerson de Assis da Silva, cursanddo o 6° periódo de Sistema de
          Informação na instituição de ensino superior Faculdade Metodista Granbery (FMG),
          com o objetivo de manter a
          continuação e desenvolvimento da aplicação baseada em uma loja de jogos fictícia.</font>
      </font>
    </p>
    <div class="col-md-6 col-sm-6 col-lg-10">
      <img src="/assets/img/Mario.png" class="d-block mx-lg-auto img-fluid" alt="Temas Bootstrap" width="600"
        height="500" loading="lazy">
    </div>

  </div>

  >
</div>