<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Pagina principal</font>
    </font>
  </a>
  

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="clientes">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Cliente</font>
          </font><span class="sr-only">
            <font style="vertical-align: inherit;">

            </font>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jogos">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Catálogo de jogos</font>
          </font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="noticiasdosgames">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Noticias dos games</font>
          </font>
        </a>
      </li>

    </ul>
  </div>
</nav>