<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Academify em Angular</font>
    </font>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Alternar de navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="clientes">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Cliente</font>
          </font><span class="sr-only">
            <font style="vertical-align: inherit;">

            </font>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jogos">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Catálogo de jogos</font>
          </font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="noticiasdosgames">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Noticias dos games</font>
          </font>
        </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Procurar">
    </form>
  </div>
</nav>